<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8">
    <title>Wielkie Powitanie: Tak was witamy</title>
</head>
<body>
<p th:text="'Hej, ' + ${name} + '!'" />
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<img th:src="@{/images/mis.png}" width="1033" height="688" alt="Obraz się nie wczytuje"/>
</body>
</html>